{% extends '::base.html.twig' %}
{% block title %}Login{% endblock %}
{% block navBar %}{% endblock %}
{% block container %}
    <div class="starter-template">
        <form method="post" action="{{ path('login') }}" class="form-inline">
            <input class="form-control" type="text" name="email" placeholder="Email">
            <input class="form-control" type="password" name="password" placeholder="Password">
            <button class="btn btn-primary" name="login" type="submit">Login</button>
        </form>
    </div>
{% endblock %}