<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <title>{% block title %}{% endblock %} | EFT App</title>

    {% stylesheets
    'css/bootstrap.min.css'
    'css/ie10-viewport-bug-workaround.css'
    'css/starter-template.css'
    filter='cssrewrite' output='css/compiled/app.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">EFT App</a>
            </div>
            {% block navBar %}
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li{{ app.request.get('_route') == 'transaction_report' ? ' class="active"' }}>
                            <a href="{{ path('transaction_report') }}">Transaction Report</a>
                        </li>
                        <li{{ app.request.get('_route') == 'transaction_list' ? ' class="active"' }}>
                            <a href="{{ path('transaction_list') }}">Transaction List</a>
                        </li>
                        <li><a href="{{ path('logout') }}">Logout</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            {% endblock %}
        </div>
    </nav>
    {% block ajaxWarnings %}{% endblock %}
    {% include ':block:warningBlock.html.twig' %}
    {% block loader %}{% endblock %}
    <div class="container">
        {% block container %}{% endblock %}
    </div>

    {% javascripts
    'js/jquery.min.js'
    'js/bootstrap.min.js'
    'js/ie10-viewport-bug-workaround.js'
    output='js/compiled/app.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% block jsCode %}{% endblock %}
    {% block cssCode %}{% endblock %}
</body>
</html>