{% extends '::base.html.twig' %}
{% block title %}Home{% endblock %}
{% block container %}
    <div class="starter-template">
        <h1>Welcome to Reporting API Panel</h1>
        <p class="lead">The Reporting API gives you access to most of the report data in PSP.</p>
    </div>
{% endblock %}