{% set errorMessages = app.session.flashbag.get('error') %}
{% set noticeMessages = app.session.flashbag.get('notice') %}

{% if errorMessages %}
    <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>{{ "WARNING" }}</strong> {{ "There are errors:" }}
        <ul>
            {% for flashMessage in errorMessages %}
                {% if flashMessage is iterable %}
                    {% for message in flashMessage %}
                        <li>{{ message }}</li>
                    {% endfor %}
                {% else %}
                    <li>{{ flashMessage }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endif %}

{% if noticeMessages %}
    <div class="alert alert-warning" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>{{ "WARNING" }}</strong> {{ "There are warnings:" }}
        <ul>
            {% for flashMessage in noticeMessages %}
                {% if flashMessage is iterable %}
                    {% for message in flashMessage %}
                        <li>{{ message }}</li>
                    {% endfor %}
                {% else %}
                    <li>{{ flashMessage }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endif %}