{% extends '::base.html.twig' %}
{% block title %}Merchant Detail of {{ transactionId }}{% endblock %}
{% block container %}
    <h1>Merchant Detail of {{ transactionId }}</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>3D Status</th>
                <th>MCC</th>
                <th>API Key</th>
                <th>Type</th>
                <th>Descriptor</th>
                <th>Secret Key</th>
                <th>COM Type</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ data.merchant.id }}</td>
            <td>{{ data.merchant.name }}</td>
            <td>{{ data.merchant['3dStatus'] }}</td>
            <td>{{ data.merchant.mcc }}</td>
            <td>{{ data.merchant.apiKey }}</td>
            <td>{{ data.merchant.type }}</td>
            <td>{{ data.merchant.descriptor }}</td>
            <td>{{ data.merchant.secretKey }}</td>
            <td>{{ data.merchant.comType }}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}