{% extends '::base.html.twig' %}
{% block title %}Transaction Detail of {{ transactionId }}{% endblock %}
{% block container %}
    <h1>Transaction Detail of {{ transactionId }}</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Reference No</th>
                <th>FX Transaction Id</th>
                <th>Agent Info Id</th>
                <th>Status</th>
                <th>Operation</th>
                <th>Chain Id</th>
                <th>Acq. Transaction Id</th>
                <th>Message</th>
                <th>Created at</th>
                <th>Updated at</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ data.transaction.merchant.referenceNo }}</td>
                <td>{{ data.transaction.merchant.fxTransactionId }}</td>
                <td>{{ data.transaction.merchant.agentInfoId }}</td>
                <td>{{ data.transaction.merchant.status }}</td>
                <td>{{ data.transaction.merchant.operation }}</td>
                <td>{{ data.transaction.merchant.chainId }}</td>
                <td>{{ data.transaction.merchant.acquirerTransactionId }}</td>
                <td>{{ data.transaction.merchant.message }}</td>
                <td>{{ data.transaction.merchant.created_at }}</td>
                <td>{{ data.transaction.merchant.updated_at }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}