{% extends '::base.html.twig' %}
{% block title %}Transaction List{% endblock %}
{% block ajaxWarnings %}
    <div class="alert alert-danger" role="alert" style="display: none;">
        <button type="button" class="close">&times;</button>
        <strong>{{ "WARNING" }}</strong> {{ "There are errors:" }}
        <ul></ul>
    </div>
{% endblock %}
{% block loader %}
    <div class="loader" style="display: none;"></div>
    <div class="overlay" style="display: none;"></div>
{% endblock %}
{% block container %}
    <div class="starter-template">
        <form class="form-inline" id="transaction-list-form">
            <div class="row">
                <div class="form-group">
                    <label for="fromDate">From: </label>
                    <input class="form-control" type="date"
                           name="fromDate"
                           value="{{ data.fromDate is defined ? data.fromDate : "2015-07-01"|date('Y-m-d') }}"
                           id="from-date">
                </div>
                <div class="form-group">
                    <label for="toDate">To: </label>
                    <input class="form-control" type="date"
                           name="toDate"
                           value="{{ data.toDate is defined ? data.toDate : "2015-10-01"|date('Y-m-d') }}"
                           id="to-date">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="form-group">
                    <label for="status">Status: </label>
                    <select class="form-control" name="status" id="status">
                        <option value="">Please choose</option>
                        <option value="APPROVED">APPROVED</option>
                        <option value="WAITING">WAITING</option>
                        <option value="DECLINED">DECLINED</option>
                        <option value="ERROR">ERROR</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="payment-method">Payment Method: </label>
                    <select class="form-control" name="paymentMethod" id="payment-method">
                        <option value="">Please choose</option>
                        <option value="CREDITCARD">CREDITCARD</option>
                        <option value="CUP">CUP</option>
                        <option value="IDEAL">IDEAL</option>
                        <option value="GIROPAY">GIROPAY</option>
                        <option value="MISTERCASH">MISTERCASH</option>
                        <option value="STORED">STORED</option>
                        <option value="PAYTOCARD">PAYTOCARD</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="error-code">Error Code: </label>
                    <select class="form-control" name="errorCode" id="error-code">
                        <option value="">Please choose</option>
                        <option value="Do not honor">Do not honor</option>
                        <option value="Invalid Transaction">Invalid Transaction</option>
                        <option value="Not sufficient funds">Not sufficient funds</option>
                        <option value="Incorrect PIN">Incorrect PIN</option>
                        <option value="Invalid country association">Invalid country association</option>
                        <option value="Currency not allowed">Currency not allowed</option>
                        <option value="3-D Secure Transport Error">3-D Secure Transport Error</option>
                        <option value="Transaction not permitted to cardholder">Transaction not permitted to cardholder</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="form-group">
                    <label for="filter-field">Filter Field: </label>
                    <select class="form-control" name="filterField" id="filter-field">
                        <option value="">Please choose</option>
                        <option value="Transaction UUID">Transaction UUID</option>
                        <option value="Customer Email">Customer Email</option>
                        <option value="Reference No">Reference No</option>
                        <option value="Custom Data">Custom Data</option>
                        <option value="Card PAN">Card PAN</option>
                    </select>
                    <label for="filter-value">Filter Value: </label>
                    <input class="form-control" type="text" name="filterValue" id="filter-value" disabled>
                    <button class="btn btn-primary" name="list" id="list">List</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
{% block jsCode %}
    <script src="{{ asset('js/transaction_list.js') }}" type="text/javascript"></script>
{% endblock %}
{% block cssCode %}
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <style type="text/css">
        .form-inline .form-control {
            margin-right: 14px;
        }
    </style>
{% endblock %}