{% extends '::base.html.twig' %}
{% block title %}Transaction Report{% endblock %}
{% block loader %}
    <div class="loader" style="display: none;"></div>
    <div class="overlay" style="display: none;"></div>
{% endblock %}
{% block container %}
    <div class="starter-template">
        <form method="post" action="{{ path('transaction_report') }}" class="form-inline" id="transaction-report-form">
            <div class="form-group">
                <label for="from-date">From: </label>
                <input class="form-control" type="date"
                       name="fromDate"
                       value="{{ data.fromDate is defined ? data.fromDate : "2015-07-01"|date('Y-m-d') }}"
                       id="from-date">
            </div>
            <div class="form-group">
                <label for="to-date">To: </label>
                <input class="form-control" type="date"
                       name="toDate"
                       value="{{ data.toDate is defined ? data.toDate : "2015-10-01"|date('Y-m-d') }}"
                       id="to-date">
                <button class="btn btn-primary" name="report" type="submit">Get Report</button>
            </div>
        </form>
        {% if data.response is defined %}
            <br><br>
            {% if data.response|length == 0 %}
                <p class="lead">No results found</p>
            {% else %}
                <p class="lead">Results between {{ data.fromDate }} - {{ data.toDate }}</p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Count</th>
                            <th>Total</th>
                            <th>Currency</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in data.response %}
                            <tr>
                                <td>{{ item.count }}</td>
                                <td>{{ item.total }}</td>
                                <td>{{ item.currency }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
{% block jsCode %}
    <script src="{{ asset('js/transaction_report.js') }}" type="text/javascript"></script>
{% endblock %}
{% block cssCode %}
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <style type="text/css">
        .form-inline .form-control {
            margin-right: 14px;
        }
    </style>
{% endblock %}