{% extends '::base.html.twig' %}
{% block title %}Customer Detail of {{ transactionId }}{% endblock %}
{% block container %}
    <h1>Customer Detail of {{ transactionId }}</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Number</th>
                <th>Expiry Month</th>
                <th>Expiry Year</th>
                <th>Email</th>
                <th>Birthday</th>
                <th>Billing First Name</th>
                <th>Billing Last Name</th>
                <th>Billing City</th>
                <th>Billing Country</th>
                <th>Shipping First Name</th>
                <th>Shipping Last Name</th>
                <th>Shipping City</th>
                <th>Shipping Country</th>
                <th>Shipping Post Code</th>
                <th>Created at</th>
                <th>Updated at</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ data.customerInfo.id }}</td>
            <td>{{ data.customerInfo.number }}</td>
            <td>{{ data.customerInfo.expiryMonth }}</td>
            <td>{{ data.customerInfo.expiryYear }}</td>
            <td>{{ data.customerInfo.email }}</td>
            <td>{{ data.customerInfo.birthday }}</td>
            <td>{{ data.customerInfo.billingFirstName }}</td>
            <td>{{ data.customerInfo.billingLastName }}</td>
            <td>{{ data.customerInfo.billingCity }}</td>
            <td>{{ data.customerInfo.billingCountry }}</td>
            <td>{{ data.customerInfo.shippingFirstName }}</td>
            <td>{{ data.customerInfo.shippingLastName }}</td>
            <td>{{ data.customerInfo.shippingCity }}</td>
            <td>{{ data.customerInfo.shippingCountry }}</td>
            <td>{{ data.customerInfo.shippingPostcode }}</td>
            <td>{{ data.customerInfo.created_at }}</td>
            <td>{{ data.customerInfo.updated_at }}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}